html, body{
    margin: 0px;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

/*
::-moz-selection {
  color: #ffddd5;
  background: #ff6a6a;
}

::selection {
  color: #ffddd5; 
  background: #ffddd5;
}
*/

html.locked{
    overflow: hidden !important;
}

h1{
    font-family: gastromond, sans-serif;
/*    color: #64f490;*/
    color: #4ad374;
    font-size: 34px;
    font-weight: 400;
}

h2{
    font-family: minion-pro-subhead, serif;
/*    color: #4ed979;*/
/*    color: #4ad374;*/
    color: #67bc81;
    font-size: 26px;
    font-weight: 500;
}

h3{
    font-family: minion-pro-caption, serif;
    color:#535353;
    font-size: 22px;
    font-weight: 500;
}

p{
    font-family: minion-pro-caption, serif;
    color: #535353;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
}

a, a:visited, a:active{
    text-decoration: none;
    color: #535353;
}

a:hover{
    text-decoration: underline;
}

.italics{
    font-style: italic;
}

.title{
    position: fixed;
    top: 10px;
    width: 100%;
    text-align: center;
    line-height: 33px;
    margin: 0px;
    z-index: 5;
}

.title a{
    color: #67bc81;
    cursor: help;
    text-decoration: none;
}

.title a:hover{
    opacity: 0.75;
}

.subtitle{
    margin: 0px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 50vh;
    letter-spacing: 1px;
}

.body-container{
    position: relative;
    box-shadow: 0px -50px 50px #ffffff;
    width: 100%;
    padding: 0px;
    margin: auto auto;
    margin-top: 4vh;
    background-color: #ffffff;
}

.page{
    position: relative;
    display: inline-block;
    margin: 0px 30px 30px 60px;
    width: calc(50% - 75px);
    height: 675px;
    background-color: #ffddd5;
/*    float: left;*/
}

.page:nth-child(2n){
/*    display: inline-block;*/
    margin-right: 0px;
    margin-left: -5px;
/*    float: right;*/
}

.page:last-child{
/*    margin: 0px 0px 30px 0px;*/
    margin: 0px auto;
    margin-top: -20px;
    display: block;
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
}

.page.active{
    visibility: hidden;
}

.page.current{
    visibility: visible;
    position: fixed;
    margin-left: 0px;
    left: 15px;
    top: 15px;
    z-index: 15;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
}

.work-title{
    text-align: center;
    margin: auto auto;
    width: 60%;
    padding: 15px 0px 8px 0px;
    border-bottom: 1px solid #535353;
}

.work-title.active{
    display: none;
}

.page-header{
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
}

.page:nth-child(2n) .page-header{
    left: auto;
    right: 20px;
}

.descript-reveal{
    position: relative;
    z-index: 13;
    margin-top: 5px;
    width: calc(100% - 40px);
    font-size: 45px;
    z-index: 10;
    line-height: 45px;
}

.descript-reveal.active{
    display: none;
}

.expand{
    position: relative;
    z-index: 14 !important;
    cursor: pointer;
    width: 25px;
    height: 25px;
/*    fill: #64f490;*/
    fill: #4ad374;
    z-index: 10;
}

.expand:hover{
    opacity: 0.5;
}


.page:nth-child(2n) .expand{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.expand.active{
    transform: rotate(180deg);
}

.page:nth-child(2n) .expand.active{
    transform: rotate(270deg);
}

.page:nth-child(2n) .descript-reveal{
    text-align: right;
}

.reveal{
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
/*    opacity: 1;*/
}

.reveal:hover{
    opacity: 0.5;
}

.work-descript{
    margin: 0px 60px;
    position: absolute;
    top: 65px;
    width: calc(100% - 120px);
    visibility: hidden;
    z-index: 6;
    text-align: center;
}

.work-descript.active{
    visibility: visible;
}

#info{
    margin-bottom: 30px;
}

.info-body{
    margin-top: 20px;
}

.info-heading{
/*    font-style: italic;*/
    margin: 0px;
    padding: 15px 40px 10px 40px; 
    width: calc(100% - 80px);
    text-align: center;
}

.info-heading:first-child{
    padding-top:  20px;
    padding-bottom: 15px;
}

.contact .info-heading{
    padding-bottom: 0px;
}

.info-para{
    margin: 5px 60px; 
    width: calc(100% - 110px);
    text-align: left;
}

.about{
    padding: 0px 40px;
    margin: 0px;
}

.education-container{
    margin: auto 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.education-wrapper{
    margin: auto auto;
}

.education{
    display: inline-block;
    margin-top: 0px;
    margin-right: 30px;
}

.education:last-child{
    margin-right: 0px;
}

.contact{
    position: absolute;
    width: 100%;
    bottom: 40px;
}

.links{
    margin-top: 5px;
    text-align: center;
}

.counter{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    -ms-grid-columns: repeat(auto-fit, minmax(0px, 1fr));
    width: calc(100% - 60px);
    bottom: 0px;
    padding: 20px 30px;
    height: 45px;
    line-height: 0px;
}

.counter-total{
    text-align: right;
}

.main-carousel{
    position: absolute;
    top: 35px;
    padding: 0px 50px;
    width: calc(100% - 100px);
    height: calc(100% - 175px);
}

.main-carousel.active{
    opacity: 0.06;
    pointer-events: none;
}

.main-carousel.current{
    top: 25px;
    padding: 0px 75px;
    width: calc(100% - 150px);
    height: calc(100% - 50px);
}

.carousel-cell{
    margin: 0px 10px;
    width: calc(100% - 20px);
    height: 100%;    
}

.flickity-button {
    background: transparent !important;
}

.flickity-button:hover {
    opacity: 0.5 !important;
}

.flickity-button-icon {
    fill: #4ad374 !important;
}

.image-wrapper{
    width: 100%;
    height: 100%;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
